<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InterviewHub"
        tools:targetApi="31">
        <activity
            android:name=".model.Settings"
            android:exported="false" />
        <activity
            android:name=".model.Tips"
            android:exported="false" />
        <activity
            android:name=".model.InterviewViewObservation"
            android:exported="false" />
        <activity
            android:name=".model.Home"
            android:exported="false" />
        <activity
            android:name=".model.InterviewObservation"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.InterviewHub">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Authentication.Register"
            android:exported="false" />
        <activity
            android:name=".Authentication.Login"
            android:exported="false" />
    </application>

</manifest>